<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/editStudent.js"></script>
        <title>Page</title>
    </head>
 
    <body>
        <h1>Edit Student</h1>  
        <input id="id" type="hidden" value="" placeholder="Student name">
        <label>Student Name:</label>
        <input id="name" type="text" value="" placeholder="Student name">  
        <br/>
        <label>Student Major:</label>
        <input id="major" type="text" value="" placeholder="Student major">
        <br/>
        <label>Student Mobile:</label>
        <input id="mobile" type="text" value="" placeholder="mobile">
        <br/>
        <button onclick="updateData()">Update Data</button>

    </body>
   

    </html>